# Problem Set 2

## Question 1
### Consider the following Python module:

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement. ?

## Answer 1

### Value "6" is displayed when the last expression is evaluated.

### This result is achieved through a series of function calls. Initially, the variable 'a' is set to 0. When the function b() is called for the first time, it invokes c(0), which adds 2 to 0, updating 'a' to 2. The second call to b() triggers c(2), adding 2 to the current value of 'a', making it 4. Finally, the third call to b() executes c(4), again adding 2, resulting in 'a' becoming 6. In essence, each call to b() increments 'a' by 2. So, after calling b() three times, a ends up as 6.

## Question 2
### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file

In [65]:
def file_length(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))

In [66]:
file_length('midterm.py')

13877

In [67]:
file_length('idterm.py')

FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

#### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

## Answer 2

In [32]:
def file_length(file_name):
    try:
        file = open(file_name, 'r')  # Attempt to open the file in read mode
        contents = file.read()       # Read the contents of the file
        file.close()                 # Close the file
        print(len(contents))         # Print the length of the contents
    except FileNotFoundError:
        print(f"File {file_name} not found.")

In [33]:
file_length('idterm.py')

File idterm.py not found.

## Question 3
### Write a class named Marsupial that can be used as shown below:

##### >>> m = Marsupial()
##### >>> m.put_in_pouch('doll')
##### >>> m.put_in_pouch('firetruck')
##### >>> m.put_in_pouch('kitten')
##### >>> m.pouch_contents()
##### ['doll', 'firetruck', 'kitten']

## Answer 3. 3.a,3.b,3.c

In [34]:
class Marsupial:
    def __init__(self):
        self.pouch = []  # Initialize an empty list for the pouch

    def put_in_pouch(self, item):
        self.pouch.append(item)  # Add the item to the pouch

    def pouch_contents(self):
        return self.pouch  # Return the list of items in the pouch

In [35]:
# An __init__ constructor that accepts x and y coordinates.

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the Marsupial's __init__ to initialize the pouch
        self.x = x          # Initialize x-coordinate
        self.y = y          # Initialize y-coordinate
        
# A jump method that updates the coordinates by dx and dy.

    def jump(self, dx, dy):
        self.x += dx        # Update x-coordinate
        self.y += dy        # Update y-coordinate

# An overloaded __str__ method to return the current position in a specific string format.

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

## Answer 3. Expected behaviour

In [36]:
# Kangaroo subclass
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [37]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [38]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question 4
### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: x = {x/2 if x is even and 3x+1 if x in odd} Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

## Answer 4

In [39]:
def collatz(x):
    print(x)  # Print the current value of x
    if x == 1:
        return  # Base case: stop when x reaches 1
    elif x % 2 == 0:
        collatz(x // 2)  # Recursive case for even x
    else:
        collatz(3 * x + 1)  # Recursive case for odd x

In [40]:
collatz(1)

1

In [41]:
collatz(10)

10
5
16
8
4
2
1

## Question 5
### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n

## Answer 5

In [42]:
def binary(n):
    if n < 2:
        print(n, end='')  # print the last digit (0 or 1) without newline
    else:
        binary(n // 2)    # Recursive call with n divided by 2
        print(n % 2, end='')  # Print the remainder (0 or 1) after the recursive call

In [43]:
binary(0)

0

In [44]:
binary(1)

1

In [45]:
binary(3)

11

In [46]:
binary(9)

1001

## Question 6
### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have

## Answer 6

In [47]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False  # Track if we're inside a heading tag
        self.indentation_level = 0

    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading (h1, h2, ..., h6)
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.indentation_level = int(tag[1]) - 1  # Calculate indentation level based on heading tag

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False  # Exit the heading tag

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * self.indentation_level + data.strip())  # Print heading with indentation

In [48]:
# Reading and parsing the w3c.html content
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

## Question 7
### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL

## Answer 7

In [49]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        super().__init__()
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == "a":
            for attr in attrs:
                if attr[0] == "href":
                    absolute = urljoin(self.url, attr[1])
                    if absolute.startswith("http"): 
                        self.links.append(absolute)
    
    def getLinks(self):
        return self.links

visited = set()

def analyze(url):
    try:
        with urlopen(url) as response:
            html = response.read().decode()
            collector = Collector(url)
            collector.feed(html)
            return collector.getLinks()
    except Exception as e:
        print(f"Error accessing {url}: {e}")
        return []

def webdir(url, depth, indent):
    global visited
    if depth < 0 or url in visited:
        return
    
    # Print the current URL with indentation
    print(' ' * indent + url)
    visited.add(url) 
    
    links = analyze(url)
    for link in links:
        webdir(link, depth - 1, indent + 2)

In [50]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404:

## Question 8
### Write SQL queries on the below database table that return: 
#### a) All the temperature data.
#### b) All the cities, but without repetition.
#### c) All the records for India.
#### d) All the Fall records.
#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
#### g) The total annual rainfall for Cairo.
#### h) The total rainfall for each season

## Answer 8

In [2]:
%load_ext sql
%sql sqlite:///ps2question8.db

In [3]:
%%sql
CREATE TABLE various_cities
(
    City        varchar(20),
    Country     varchar(20),
    Season      varchar(15),
    Temperature float,
    Rainfall    float
);

INSERT INTO various_cities
VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite:///ps2question8.db
Done.
12 rows affected.

[]

## Answer 8.a All the temperature data.

In [51]:
%%sql

SELECT Temperature
FROM various_cities;

 * sqlite:///ps2question8.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

## Answer 8.b All the cities, but without repetition.

In [52]:
%%sql

SELECT DISTINCT(city)
FROM various_cities;

 * sqlite:///ps2question8.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

## Answer 8.c All the records for India.

In [53]:
%%sql

SELECT *
FROM various_cities
WHERE country = 'India';

 * sqlite:///ps2question8.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## Answer 8.d All the Fall records

In [54]:

%%sql

SELECT *
FROM various_cities
WHERE season = 'Fall';

 * sqlite:///ps2question8.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## Answer 8.e The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [55]:
%%sql

SELECT city, country, season, rainfall
FROM various_cities
WHERE rainfall BETWEEN 200 AND 400;

 * sqlite:///ps2question8.db
Done.

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

## Answer 8.f The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [56]:
%%sql

SELECT city, country
FROM various_cities
WHERE season = 'Fall' AND temperature > 20
ORDER BY temperature ASC;

 * sqlite:///ps2question8.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

## Answer 8.g The total annual rainfall for Cairo.

In [57]:
%%sql

SELECT city, sum(rainfall) AS Total_Annual_Rainfall
FROM various_cities
WHERE city = 'Cairo';

 * sqlite:///ps2question8.db
Done.

[('Cairo', 27.6)]

## Answer 8.h All the temperature data.

In [58]:
%%sql

SELECT season, sum(round(rainfall)) AS Total_Rainfall
FROM various_cities
GROUP BY season;

 * sqlite:///ps2question8.db
Done.

[('Fall', 570.0), ('Spring', 193.0), ('Summer', 1706.0), ('Winter', 231.0)]

## Question 9
### Suppose list words is defined as follows:

In [59]:
words = ['The ', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

### Write list comprehension expressions that use list words and generate the following lists:

## Answer 9.a Convert all words to uppercase.

In [60]:
upper_words = [word.upper() for word in words]
print(upper_words)

['THE ', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## Answer 9.b Convert all words to lowercase.

In [61]:
lower_words = [word.lower() for word in words]
print(lower_words)

['the ', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## Answer 9.c (the list of lengths of words in list words)

In [62]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[4, 5, 5, 3, 5, 4, 3, 4, 3]

## Answer 9.d the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.

In [63]:
word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

[['THE ', 'the ', 4], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

## Answer 9.e the list of words in list words containing 4 or more characters

In [64]:
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['The ', 'quick', 'brown', 'jumps', 'over', 'lazy']